@import "base/variables";

header {
    background-color: $bg-color;

    nav {
        padding: $relleno;

        ul {
            li {
                list-style: none;

                a {
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}